/* Font import */
@font-face {
  font-family: SwissNow;
  src:  url('/fonts/SwissNow-VAR-VF.ttf.woff2') format("truetype supports variations"),
        url('/fonts/SwissNow-VAR-VF.ttf.woff2') format("truetype-variations");
  font-weight: 100 1000;
  font-style: normal;
}

/* Reset */
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
:root{
  --gutter: 1rem;
  --transition: cubic-bezier(.77,0,.175,1) 500ms;
}
html {
  font-family: SwissNow, Helvetica, Arial, sans-serif;
  font-weight: 100;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  font-size: clamp(10px, 1.3333333vw, 20px);
  font-weight: 500;
  line-height: 1.1;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
  font-size: inherit;
  font-weight: inherit;
  line-height: inherit;
  letter-spacing: inherit;
  white-space: pre-line;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
#root, #__next {
  isolation: isolate;
}
a:-webkit-any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
a:any-link {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}
button {
  cursor: pointer;
}
sup {
  font-size: .6em;
  font-weight: 400;
  letter-spacing: -0.04em;
}
.mobile-only {
  display: none;
}
@media screen and (max-width: 900px) {
  .mobile-only {
    display: inherit;
  }
  .desktop-only {
    display: none;
  }
}